// Default Linfo theme designed by Lee Bradley in 2010

$bodybg: #fff
$bodycolor: #000
$linkcolor: #666
$linkhover: #000
$thcolor: #444
$cellborder: #c3c3c3
$cellbg: #eee
$cellaltbg: #ddd
$h2color: #fff
$h2shadow: #2665a7 1px 1px 1px
$h2bg: #5c9ada
$h2border: #4a8fd6
$footcolor: #444
$nontdcolor: #666
$nonetdbg: #f3f3f3 
$percfaded: #666
$barbg: #b7cce2 
$altbarbg: #96b4d5 
$togglercolor: #8abdf2
$togglerhover: #fff
$subtitlecolor: #999
$time: #999

@import base.sass
