<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="bootstrap.php"
    colors="true">

  <testsuites>

    <!-- Run everything except OS dependent tests -->
    <testsuite name="Linfo">
      <directory suffix=".php">linfo/</directory>
    </testsuite>

    <testsuite name="Linux">
      <directory suffix=".php">os/Linux/</directory>
    </testsuite>

    <testsuite name="FreeBSD">
      <directory suffix=".php">os/FreeBSD/</directory>
    </testsuite>

    <testsuite name="Darwin">
      <directory suffix=".php">os/Darwin/</directory>
    </testsuite>

  </testsuites>

</phpunit>

